spring:
  datasource:
    platform: postgres
    driverClassName: org.postgresql.Driver

tiltaksgjennomforing:
  database:
    database-navn: tiltaksgjennomforing-varsel-p15-preprod
    database-url: jdbc:postgresql://b27dbvl033.preprod.local:5432/tiltaksgjennomforing-varsel-p15-preprod
    vault-sti: postgresql/preprod-fss
    minimum-idle: 1
    maximum-pool-size: 2
    max-lifetime: 300000
  altinn-varsel:
    uri: https://pep-gw-q1.oera-q.local:9443/ekstern/altinn/notificationagencyexternalbasic/v1
  sts:
    username: ${tiltaksgjennomforing.serviceuser.username}
    password: ${tiltaksgjennomforing.serviceuser.password}
    ws-uri: https://sts-q1.preprod.local/SecurityTokenServiceProvider/
